.settings
bin
build
dist
nbproject
.classpath
.project
build.xml
manifest.mf
*.log
*.log.*
.cproject
Debug*
__pycache__

# Python Virtual Environments
.venv/
venv/
virtualenv/
.virtualenv/

# PyCharm stuff
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# MacOS stuff
.DS_Store